@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

body {
  margin: 0;
  font-family: "Montserrat";
  background-color: #2a2a2a;
}


.hide {
  display: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}

section:nth-child(1) .text {
  background: url("../img/web-design-2038872_1920.jpg");
  background-size: cover;
  position: static;
  /* height: auto; */
  margin: 0;
  width: 75%;
  min-height: 835px;
}

section:nth-child(2) .text {
  background-color: #a1887f;
}

section:nth-child(3) .text {
  background-color: #d3b8ae;
}

section:nth-child(4) .text {
  background-color: #d7ccc8;
}

section:nth-child(5) .text {
  background-color: #efebe9;
}

section:nth-child(6) .text {
  background-color: #efdcd5;
}

section:nth-child(7) .text {
  background-color: #f7f2ef;
}

.scroller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 65px;
  border: 4px solid rgb(133, 92, 72);
  border-radius: 30px;
}

.scroller::after {
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(133, 92, 72);
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
  animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}

.scroller small {
  color: rgb(133, 92, 72);
  position: absolute;
  width: 174px;
  left: -64px;
  top: -34px;
}

.anchors {
  background-color: rgb(133, 92, 72);
  z-index: 100;
}

.anchors ul {
  margin: 0;
  padding: 0;
  padding-left: 85px;
  padding-top: 10px;
}

.anchors ul li {
  display: inline-block;
  list-style: none;
}

.anchors ul li a {
  display: block;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.anchors ul li a.active::after {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.text {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  transition: all 500ms;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text.active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#bandeau {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  z-index: 10;
  background-color: rgb(133, 92, 72);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.close-menu {
  display: none;
}

/* HOME PAGE */

.content-container {
  display: flex;
  height: calc(100vh - 80px);
}

#name {
  position: relative;
  display: grid;
  height: auto;
  width: 100%;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  margin-left: 0px;
  font-family: "Quicksand", sans-serif;
}

.name_bottom {
  color: rgb(133, 92, 72);
  font-size: 44px;
  letter-spacing: 0.25em;
  line-height: normal;
  position: relative;
  margin-top: 520px;
  left: 265px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  background-color: rgba(180, 149, 148, 0.6);
  border-radius: 10px;
  padding: 0 3px 0 10px;
}

.work {
  letter-spacing: 0.25em;
  color: rgb(133, 92, 72);
  position: relative;
  margin: 0px 0px 10px calc((100% - 700px) * 0.5);
  left: 102px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  font-style: italic;
}

#right_side {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgb(197, 137, 107, 0.9);
  margin-left: 0px;
  min-width: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.right-content {
  padding-top: 100px;
}

.photo-style {
  text-align: center;
  padding-bottom: 40px;
}

.photo-id {
  object-position: 50% 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.infos {
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  width: 75%;
  margin: auto;
}

.name {
  font-size: 24px;
  letter-spacing: 0.25em;
  padding-bottom: 35px;
}

.work-right-side {
  letter-spacing: 0.15em;
  padding-bottom: 60px;
}

.mail {
  letter-spacing: 0.15em;
  padding-bottom: 15px;
}

.phone {
  letter-spacing: 0.15em;
  padding-bottom: 35px;
}

.social {
  padding-bottom: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
  list-style-type: none;
}

.logo-img {
  width: 30px;
  height: auto;
}

.cv {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(133, 92, 72);
  border-radius: 20px;
  padding: 20px 40px;
}

/* END HOME PAGE */

/* ABOUT PAGE */

.about-title {
  font-size: 32px;
  margin: 120px auto 40px;
  width: 70%;
  letter-spacing: 0.3rem;
}

.about-details {
  background-color: #b49594;
  padding: 20px 30px 20px 30px;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
  line-height: 2rem;
  border-width: 5px;
}

/* END ABOUT PAGE */

/* EDUCATION & EXPERIENCES */

.education-page {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

.left-side {
  width: 50%;
}

.right-side {
  width: 50%;
  padding-left: 100px;
}

.title-p2 {
  letter-spacing: 0.15em;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
}

.education-content,
.experiences-content {
  color: #321c0e;
  line-height: 1.8em;
  font-size: 16px;
  /* font-family: "Quicksand",
sans-serif; */
}

.one {
  font-weight: bolder;
}

.two {
  padding-bottom: 1.8rem;
}

body {
  line-height: 1.3em;
}

.history-tl-container {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 65px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #a1887f;
  padding: 0px 0 65px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #725b53;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
  border-color: #725b53;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #321c0e;
  position: absolute;
  left: -96px;
  text-align: right !important;
  font-size: 12px;
}

/* END EDUCATION & EXPERIENCES */

/* SKILLS & LANGUAGES */

.skills {
  width: 75%;
  margin: 100px auto 0 auto;
}

.title {
  letter-spacing: 0.15em;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 400 !important;
}

.project-container .title {
  display: none;
  width: 100%;
}

.subtitle {
  letter-spacing: 0.15em;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin-bottom: 50px;
}

.logos-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  height: 50%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.border {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.border a {
  color: rgba(50, 28, 14, 1);
  text-decoration: none;
}

.border::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  height: 1px;
  width: 20%;
  background-color: rgba(50, 28, 14, 0.3);
}

.level-details {
  text-align: center;
  margin-right: 30px;
  margin-bottom: 20px;
}

.logo-language {
  position: relative;
}

.logo-lg {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: middle;
}

.ts {
  width: 5rem;
  height: 5rem;
}

.wp,
.laravel {
  object-fit: cover;
}

.language {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: rgba(50, 28, 14, 0.5);
}

.name-language {
  width: 25%;
}

.progress {
  position: relative;
  width: 75%;
  height: 1px;
  background-color: rgba(50, 28, 14, 0.3);
}

.progress::before {
  position: absolute;
  content: "";
  width: 0;
  height: 7px;
  left: 0;
  top: -3px;
  background-color: rgb(104, 61, 34);
  border-radius: 20px;
}

.progress.french::before {
  width: 100%;
}

.progress.english::before {
  width: 70%;
}

.progress.spanish::before {
  width: 60%;
}

.apercu {
  position: absolute;
  top: 15px;
  left: 40px;
  display: none;
  width: 70px;
  height: 20px;
  background: rgba(133, 92, 72);
  z-index: 1;
}

.logo-language:hover .apercu {
  display: block;
}

.level-details:hover .level {
  display: block;
}

.level {
  position: absolute;
  bottom: -6px;
  left: 0;
  display: none;
  font-style: italic;
  font-size: 12px;
}

/* END SKILLS & LANGUAGES */

/* PROJECTS */

.project-container {
  width: 80%;
  margin: 100px auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
}

.img-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.bloc-project {
  display: flex;
  margin: 20px;
}

.bloc-project:hover > .link-project {
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  filter: none;
}

.link-project {
  width: 13rem;
  margin-right: 20px;
  -webkit-filter: blur(1px);
  /* Safari 6.0 - 9.0 */
  filter: blur(1px);
  transition: filter 0.5s;
}

/* END PROJECTS */

/* EXTRA-PROFESSIONAL ACTIVITIES */

.collapse-menu {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* background-color: rgba(161, 136, 127); */
  padding: 30px 20px 20px 20px;
  border-bottom: rgba(133, 92, 72, 0.5) solid 1px;
}

.collapse-menu .menu-wrapper {
  height: 0px;
  transition: height 0.35s;
  -moz-transition: height 0.35s;
  -webkit-transition: height 0.35s;
  -o-transition: height 0.35s;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  font-size: 20px;
  font-style: italic;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  letter-spacing: normal;
  background-color: #efdcd5;
  text-transform: initial;
  color: rgb(133, 107, 106);
  /*padding: 10px;*/
}

.collapse-menu.open .menu-wrapper {
  overflow: auto;
  overflow-y: auto;
}

.collapse-menu .menu li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.activities-container {
  padding-top: 80px;
  width: 50%;
  margin: 0 auto;

  color: #321c0e;
  font-family: "Quicksand", sans-serif;
}

.number {
  color: #b49594;
}

.collapse-menu-title {
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 1rem;
  color: #321c0e;
  transition: transform 0.35s ease-in-out;
}

.collapse-menu.open .arrow {
  transform: rotate(180deg);
}

/* END EXTRA-PROFESSIONAL ACTIVITIES */

/* CONTACT*/

.form-container {
  margin-top: 100px;
  width: 50%;
  padding: 4px;
  vertical-align: top;
  margin: 100px auto;
  color: #321c0e;
}

.form-container label {
  font-size: 15px;
  width: 48%;
}

.form-container .fields-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.form-container input,
.form-container textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 4px;
  border: none;
  outline: none;
  resize: none;
}

.form-container textarea {
  height: 6rem;
}

.form-container h3 {
  letter-spacing: 0.15rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.bubble {
  width: 24px;
  height: auto;
}

.form-container button {
  display: block;
  margin-top: 16px;
  text-align: center;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #725b53;
  color: #fff;
  cursor: pointer;
}

/* END CONTACT */

/* MEDIAQUERIES */

@media screen and (min-width: 1124px) {
  .lg-hide {
    display: none;
  }
}

@media screen and (min-width: 1075px) {
  .name_bottom {
    left: 24%;
}
}

@media screen and (max-width: 1075px) {
  .name_bottom {
    font-size: 38px;
    left: 10%;
}
}

@media screen and (min-width: 767px) and (max-width: 1124px) {
  .md-hide {
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .sm-hide {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #bandeau {
    display: initial;
    right: auto;
    height: 6rem;
    width: 6rem;
    cursor: pointer;

    border-bottom-right-radius: 25px;
  }



.close-menu {
  position: absolute;
  display: none;
  cursor: pointer;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 102;
}

.close-menu svg {
  text-align: center;
  margin: auto;
  width: 64px;
  height: 64px;
  fill: #FFF;
}


.close-menu #icon-close .close-rotate {
  -webkit-animation-name: close-rotate;
  animation-name: close-rotate;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

  #bandeau::after {
    position: absolute;
    content: "Menu";
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 101;
  }

  #bandeau.show-menu::after {
    content: initial;
  }


  #bandeau.show-menu .close-menu {
    display: inline-block;
  }

  .anchors {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: rgb(133, 92, 72);
    transition: all 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .show-menu .anchors {
    left: 0;
  }

  .anchors ul {
    padding: 0;
    height: 100%;
    padding-top: 8rem;
  }

  .anchors ul li {
    display: block;
  }

  .anchors ul li a {
    display: block;
  }

  .anchors ul li a.active::after {
    left: 0;
    width: 100%;
  }

  section {
    align-items: initial;
    justify-content: initial;
  }

  .text {
    -webkit-transform: none;
    transform: none;
  }
  .activities {
    width: 99%;
  }

  section:nth-child(1) .text {
    width: 100%;
  }

  #right_side {
    position: relative;
    padding-top: 3.5rem;
    height: auto;
    width: 100%;

    background: url(../img/web-design-2038872_1920.jpg);
    background-size: cover;
  }

  .right-content {
    padding: 2rem 0;
    background-color: rgb(197, 137, 107, 0.9);
  }

  .work-right-side, .social {
    padding-bottom: 30px;
}

  .photo-style {
    padding-bottom: 0;
  }

  .education-page {
    display: block;
  }

  .right-side {
    padding-left: 0;
  }

  .left-side {
    width: auto;
  }

  ul.tl li .timestamp {
    left: -85%;
  }

  .infos {
    padding-top: 2rem;
  }

  .about-title {
    font-size: 28px;
    margin: 46px auto 40px;
  }

  .about-details {
    font-size: 16px;
  }

  .about-text {
    padding-bottom: 2rem;
  }

  .title {
    margin-top: 8rem;
    line-height: 1.7rem;
}

.project-container .title {
  display: block;
}
  .level-details {
    width: auto;
  }

  .logo-lg {
    width: 3rem;
    height: 3rem;
  }

  .ts {
    width: 2rem;
    height: 2rem;
  }

  .languages-container {
    padding-bottom: 5rem;
  }

  .project-container {
    margin: 0px auto;
  }

  .bloc-project {
    display: inline-block;
    border-bottom: 1px solid rgba(114, 91, 83,0.5);
  }

  .img-project {
    height: auto;
}

  .activities-container {
    padding-top: 0;
    padding-bottom: 2rem;
    width: auto;
  }
  .collapse-menu {
    font-size: 16px;
  }

  form {
    padding-bottom: 5rem;
  }

  .form-container {
    margin: 0;
    margin-top: 100px;
    width: auto;
  }

  .form-container .fields-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 18px;
  }

  .form-container label {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .xs-hide {
    display: none;
  }
}


@-webkit-keyframes close-rotate {
  0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  50% {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  }

  100% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }
}

@keyframes close-rotate {
  0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  50% {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  }

  100% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }
}