@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");


@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

body {
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
  background-color: #2a2a2a;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}

section:nth-child(1) .text {
  background: url("../img/web-design-2038872_1920.jpg");
  background-size: cover;
  position: static;
  /* height: auto; */
  margin: 0;
  width: 75%;
  min-height: 835px;
}

section:nth-child(2) .text {
  background-color: #a1887f;
}

section:nth-child(3) .text {
  background-color: #d3b8ae;
}

section:nth-child(4) .text {
  background-color: #d7ccc8;
}

section:nth-child(5) .text {
  background-color: #efebe9;
}

section:nth-child(6) .text {
  background-color: #efdcd5;
}


.scroller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 65px;
  border: 4px solid rgb(133, 92, 72);
  border-radius: 30px;
}

.scroller::after {
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(133, 92, 72);
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
  animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}

.scroller small {
  color: rgb(133, 92, 72);
  position: absolute;
  width: 174px;
  left: -64px;
  top: -34px;
}

.anchors {
  position: fixed;
  top: 25px;
  left: 85px;
  z-index: 100;
}

.anchors ul {
  margin: 0;
  padding: 0;
}

.anchors ul li {
  float: left;
  list-style: none;
}

.anchors ul li a {
  padding: 12px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.anchors ul li a.active::after {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.text {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  transition: all 500ms;
  width: 100%;
  height: 100%;
  /*align-items: center;*/
  justify-content: center;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text.active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}


#bandeau {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  z-index: 10;

  background-color: rgb(133, 92, 72);
}

/* HOME PAGE */

.content-container {
  display: flex;
  height: calc(100vh - 80px);
}

#name {
  position: relative;
  display: grid;
  height: auto;
  width: 100%;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  margin-left: 0px;
  font-family: 'Quicksand', sans-serif;
}

.name_bottom {
  color: rgb(133, 92, 72);
  font-size: 44px;
  letter-spacing: 0.25em;
  line-height: normal;
  position: relative;
  margin-top: 520px;
  left: 265px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.work {
  letter-spacing: 0.25em;
  color: rgb(133, 92, 72);
  position: relative;
  margin: 0px 0px 10px calc((100% - 700px) * 0.5);
  left: 102px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  font-style: italic;
}

#right_side {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgb(197, 137, 107, 0.9);
  margin-left: 0px;
  min-width: 245px;
  margin-top: 0;
  margin-bottom: 0;
}

.right-content {
  padding-top: 100px;
}


.photo-style {
  text-align: center;
  padding-bottom: 40px;
}

.photo-id {
  object-position: 50% 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.infos {
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  width: 75%;
  margin: auto;
}

.name {

  font-size: 24px;
  letter-spacing: 0.25em;
  padding-bottom: 35px;
}

.work-right-side {
  letter-spacing: 0.15em;
  padding-bottom: 60px;
}

.mail {
  letter-spacing: 0.15em;
  padding-bottom: 15px;
}

.phone {
  letter-spacing: 0.15em;
  padding-bottom: 35px;
}

.social {
  padding-bottom: 50px;
}

ul {
  margin: 0;
  padding: 0;

}


.logo {
  display: inline-block;
  list-style-type: none;

}

.logo-img {
  width: 30px;
  height: auto;
}

.cv {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(133, 92, 72);
  border-radius: 20px;
  padding: 20px 40px;
}


/* END HOME PAGE */

/* ABOUT PAGE */

.about-text {
  font-size: 32px;
  margin-top: 100px;
  margin-left: 40px;

}

/* END ABOUT PAGE */

/* EDUCATION & EXPERIENCES */

.education-page {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 100px;
}

.left-side {
  width: 50%;
}

.right-side {
  width: 50%;
  padding-left: 100px;
}

.title-p2 {
  letter-spacing: 0.15em;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
}

.education-content,
.experiences-content {
  color: #321c0e;
  line-height: 1.8em;
  font-size: 16px;
  /* font-family: "Quicksand",
sans-serif; */
}

.one {
  font-weight: bolder;
}

.two {
  padding-bottom: 1.8rem;
}

body {
  line-height: 1.3em;
  min-width: 920px;
}

.history-tl-container {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;

}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 65px;
  min-height: 50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 1px dashed #a1887f;
  padding: 0px 0 65px 30px;
  position: relative;
}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #725b53;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl li:hover::before {
  border-color: #725b53;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

ul.tl li .timestamp {
  color: #321c0e;
  position: absolute;
  left: -50%;
  text-align: right !important;
  font-size: 12px;
}

/* END EDUCATION & EXPERIENCES */

/* SKILLS & LANGUAGES */

.skills {
  width: 75%;
  margin: 100px auto 0 auto;
}

.title {
  letter-spacing: 0.15em;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 400 !important;
}

.subtitle {
  letter-spacing: 0.15em;
  color: #321c0e;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin-bottom: 50px;
}

.logos-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /*width: 75%;*/
  height: 50%;
  justify-content: center;
  margin-bottom: 50px;
}

.border {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.border a {
  color: rgba(50, 28, 14, 1);
  text-decoration: none;
}

.border::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  height: 1px;
  width: 20%;
  background-color: rgba(50, 28, 14, 0.3);
}

.level-details {
  width: 10%;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 20px;
}

.logo-language {
  position: relative;
}

.logo-lg {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: middle;
}

.wp,
.laravel {
  object-fit: cover;
}

.language {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: rgba(50, 28, 14, 0.5);
}

.name-language {
  width: 25%;
}

.progress {
  position: relative;
  width: 75%;
  height: 1px;
  background-color: rgba(50, 28, 14, 0.3);
}


.progress::before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  top: -1px;
  background-color: rgba(50, 28, 14, 1);
}

.progress.french::before {
  width: 100%;
}

.progress.english::before {
  width: 70%;
}

.progress.spanish::before {
  width: 60%;
}

.apercu {
  position: absolute;
  top: 15px;
  left: 40px;
  display: none;
  width: 70px;
  height: 20px;
  background: rgba(133, 92, 72);
}


.logo-language:hover .apercu {
  display: block;
}

.level-details:hover .level {
  display: block;
}

.level {
  position: absolute;
  bottom: -6px;
  left: 0;
  display: none;
  font-style: italic;
  font-size: 12px;
}


/* END SKILLS & LANGUAGES */



/* PROJECTS */

/* END PROJECTS */



/* EXTRA-PROFESSIONAL ACTIVITIES */

.collapse-menu {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* background-color: rgba(161, 136, 127); */
  padding: 30px 20px 20px 20px;
  border-bottom: rgba(133, 92, 72, 0.5) solid 1px;
}

.collapse-menu .menu-wrapper {
  height: 0px;
  transition: height 0.35s;
  -moz-transition: height 0.35s;
  -webkit-transition: height 0.35s;
  -o-transition: height 0.35s;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  font-size: 20px;
  font-style: italic;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  letter-spacing: normal;
  background-color: #efdcd5;
  text-transform: initial;
  color: rgb(133, 107, 106);
  /*padding: 10px;*/
}

.collapse-menu.open .menu-wrapper {
  overflow: auto;
  overflow-y: auto;
}

.collapse-menu .menu li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.activities-container {
  padding-top: 80px;
  width: 50%;
  margin: 0 auto;

  color: #321c0e;
  font-family: "Quicksand", sans-serif;
}

.number {
  color: #B49594;
}

.collapse-menu-title {
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 1rem;
  color: #321c0e;
  transition: transform 0.35s ease-in-out;
}

.collapse-menu.open .arrow {
  transform: rotate(180deg);
}

/* END EXTRA-PROFESSIONAL ACTIVITIES */